*{-webkit-box-sizing:border-box;box-sizing:border-box}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}a img{border:none}blockquote{quotes:none}blockquote:after,blockquote:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}caption,td,th{text-align:left;font-weight:400;vertical-align:middle}.hide-accessible{width:1px;height:1px;overflow:hidden;position:absolute}.hide-invisible{visibility:hidden}.hide-display{display:none}.skip-to-main{border:none;width:1px;height:1px;overflow:hidden;position:absolute}.skip-to-main:focus{width:auto;height:auto;background-color:#f4f4f4;padding:.5em;z-index:1}.prose{max-width:40rem;margin:0 auto;padding:0 1rem}.prose__hed{font-weight:700}.graphic__hed{font-weight:500}.graphic__dek{margin:0;margin-bottom:1.5rem}.graphic__chart{width:100%}.graphic__key{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-bottom:.5rem;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.graphic__key li{padding:0;margin-left:.75em;letter-spacing:.05em;text-transform:uppercase;font-weight:700;line-height:1}.graphic__key li:before{content:'';display:inline-block;width:.8em;height:.8em;background-color:#282828;margin-right:.25em}.tk-canela{font-family:'Times New Roman',serif}.loaded-canela .tk-canela{font-family:'Canela Web','Times New Roman',serif}.tk-publico{font-family:Georgia,Times,serif}.loaded-publico .tk-publico{font-family:'Publico Text Web',Georgia,Times,serif}.tk-atlas{font-family:Helvetica,Arial,sans-serif}.loaded-atlas .tk-atlas{font-family:'Atlas Grotesk Web',Helvetica,Arial,sans-serif}.xxx-small{font-size:10px;line-height:1.5}.xx-small{font-size:11px;line-height:1.5}.x-small{font-size:12px;line-height:1.5}.small{font-size:14px;line-height:1.5}.root{font-size:16px;line-height:1.7}.medium{font-size:17px;line-height:1.7}.large{font-size:24px;line-height:1.5}.x-large{font-size:32px;line-height:1.5}.xx-large{font-size:40px;line-height:1.2}.xxx-large{font-size:48px;line-height:1.2}.xxxx-large{font-size:64px;line-height:1.2}body{-webkit-font-feature-settings:'kern' 1,'onum' 0,'liga' 0,'tnum' 1;font-feature-settings:'kern' 1,'onum' 0,'liga' 0,'tnum' 1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-tap-highlight-color:transparent;background-color:#fff;color:#282828;font-size:16px}h1{font-size:40px;line-height:1.2;margin-top:1.5rem}h2{font-size:32px;line-height:1.5;margin-top:1.5rem}h3{font-size:24px;line-height:1.5;margin-top:1.5rem}h4{font-size:17px;line-height:1.7;margin-top:1.5rem}h5{font-size:16px;line-height:1.7;margin-top:1.5rem}h6{font-size:14px;line-height:1.5;margin-top:1.5rem}p{margin:1.5rem 0;font-size:16px;line-height:1.7}a{text-decoration:none;border-bottom:1px solid #282828;color:#282828}a:hover,a:visited{color:#282828}b,strong{font-weight:700}em,i{font-style:italic}ul{list-style-type:none}li{font-size:16px}img,video{display:block;width:100%}button{cursor:pointer;border:none;outline:0;margin:0;padding:0;font-size:1rem;font-size:16px}sub,sup{font-size:.75rem;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}header{z-index:1000;position:absolute;top:0;left:0;width:100%}header a.logo{display:block;border:none;max-width:9rem;margin:1rem auto}header a.logo svg{fill:#282828;display:block;width:100%}@media only screen and (min-width:40em){body{font-size:17px}p{font-size:17px;line-height:1.7}li{font-size:17px}button{font-size:17px}}

@font-face {
  font-family: Atlas Grotesk;
  src: url('../fonts/AtlasGrotesk-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#page-title {
  padding: 0 10%;
  margin-bottom: 4rem;
}

#page-title h1 {
  margin: 2em auto 1rem auto;
  max-width: 15em;
  font-family: Roboto;
  font-size: 3.5em;
  text-align: center;
}

@media (max-width: 494px) {
  #page-title {
    padding: 0;    
  }

  #page-title h1 {
    font-size: 3em;
  }
}

#meta {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

#meta a {
  font-size: 18px;
  font-family: Courier, monospace;
  color: rgb(0,0,238) !important;
}

p {
  font-family: Open Sans;
  font-size: 19px;
  max-width: 500px;
  margin: 10px auto;
  line-height: 1.8;
  margin-bottom: 20px;
}

p b {
  font-weight: 700;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  margin-bottom: 100px;
  width: 100%;
}

.chart-container > div {
  margin-bottom: 50px;
}

.svg-container {
  display: flex;
  justify-content: center;
}

.axis-label {
  font-family: Roboto;
  font-size: 16px;
  user-select: none;
}

.x.axis-label {
  transform: translateY(40px);
}

.y.axis-label {
  transform-origin: left;
  transform: rotate(-90deg) translate(-20px, -18px);
}

.band {
  fill: #fff;
  stroke-opacity: 1;
  stroke: #ccc;
  stroke-dasharray: 8 10;
}

.yourpath {
  stroke: #80b1d3;
  fill: none;
  stroke-width: 2px;
}

.yourpath.completed {
  stroke: #fff;
  stroke-width: 4px;
}

.axis .tick text {
  font-family: Roboto;
  user-select: none;
  font-size: 15px;
}

.y.axis g:nth-child(2) { /* removes first 0% label to help with crowdedness */
  display: none;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto 25px auto;
  max-width: 40rem;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 15px 0;
  width: 200px;
  font-family: Atlas Grotesk;
  font-size: 13px;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.button:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}

.button:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

.button:disabled,
.button[disabled] {
  background-color: #cccccc;
  color: #666666;
  box-shadow: 0 6px #888;
}

.button:disabled:hover,
.button[disabled]:hover {
  box-shadow: 0 4px #888;
  top: 2px;
}

.button:disabled:active,
.button[disabled]:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

.line {
  stroke: #0F3E3F;
  stroke-width: 2px;
  fill: none;
}

.line.dotted {
  stroke-dasharray: 12 3;  
}

.dot {
  fill: #2B4141;
}

.label {
  font-family: Atlas Grotesk;
  font-size: 20px;
}

.label-line {
  stroke-width: 1.5px;
  stroke: #333;
}

.title {
  font-family: Roboto;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
  user-select: none;
}

.parity-line {
  stroke-dasharray: 2%;
  stroke: #222;
  stroke-opacity: 0.7;
}

.parity-label {
  font-family: Roboto;
  font-size: 11px;
  fill: #282828;
  user-select: none;
}

.highlighted {
  fill: #ffffb3;
  fill-opacity: 0.8;
}

.draw-instruction {
  text-anchor: middle;
  font-family: Roboto;
  font-size: 22px;
}

.annotation-group {
  animation: transitionIn 500ms;
}

@keyframes transitionIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

.annotation-note-label {
  fill: #282828;
  font-family: Roboto;
  font-size: 1em;
  user-select: none;
}

.annotation-group.line-label .annotation-note-label {
  font-size: 1.1em;
}

.annotation-connector .connector {
  stroke-width: 1.5px;
  stroke: #282828;
}

.annotation-group.guess .annotation-note-label {
  fill: #fff;
  font-weight: bold;
}

.annotation-group.guess .annotation-connector .connector {
  stroke-width: 1.5px;
  stroke: #fff;
}

.annotation-group.dot-labels {
  font-weight: bold;
}

.annotation-group.dot-labels .annotations g:first-child .annotation-note-label {
  transform: translateX(19px);
}

.annotation-group.dot-labels .annotations g:nth-child(2) .annotation-note-label {
  transform: translateX(-19px);
}

.annotation-group.area-label .annotation-connector {
  display: none;
}

.annotation-group.area-label .annotation-note-label {
  font-size: 17px;
  font-family: Atlas Grotesk;
  color: #282828;
}

.annotation-group.area-label .annotation-note-bg {
  fill-opacity: 0.7;
}